In [9]:
E,X,F,T,S,C = 16,16,16,16,16,16

In [25]:
import pandas as pd

table1 = pd.read_csv('stats_data.csv',index_col=0)
table2 = pd.read_csv('stats_goal.csv',index_col=0)

In [26]:
table2.fillna(0,inplace = True)
table2

                        XAI  FAI  SAI  CAI  TAI  EAI
service_type              1    0    0    0    1    0
is_mix_service            1    0    0    0    1    0
online_time               1    0    0    1    1    0
1_total_fee               1    0    0    0    1    0
2_total_fee               1    0    0    0    1    0
3_total_fee               1    0    0    0    1    0
4_total_fee               1    0    0    0    1    0
month_traffic             1    0    0    1    1    0
many_over_bill            1    0    0    0    1    0
contract_type             1    0    0    0    1    0
contract_time             1    0    0    0    1    0
is_promise_low_consume    1    0    0    1    1    0
net_service               1    0    0    0    1    0
pay_times                 1    0    0    0    1    0
pay_num                   1    0    0    1    1    0
last_month_traffic        1    0    0    0    1    0
local_trafffic_month      1    0    0    1    1    0
local_caller_time         1    0    0    0    1    0
service1_caller_time      1    0    0    0    1    0
service2_caller_time      1    0    0    0    1    0
gender                    0    1    0    1    0    1
age                       0    1    0    1    0    1
complaint_level           0    1    0    1    0    0
former_complaint_num      0    1    0    1    0    0
former_complaint_fee      0    1    0    0    0    0

In [42]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
table1[table1.columns] = scaler.fit_transform(table1[table1.columns])
table1.fillna(0,inplace = True)
table1.round(2)

,Causality,ANOVA-F,Mutual_info,Chi2,Kendall,Outlier,Bias,Variance,Distribution
service_type,-2.25,-0.00,1.11,1.48,0.00,-0.00,-0.87,-0.79,0.00
complaint_level,0.53,-0.00,-1.15,-1.10,0.00,-0.00,0.88,-0.77,0.00
contract_type,0.06,-0.00,0.42,4.12,0.00,-0.00,-0.97,-0.77,0.00
gender,-0.34,-0.00,-1.08,-1.20,0.00,-0.00,0.85,-0.79,0.00
is_mix_service,-2.82,-0.00,-0.99,-0.82,0.00,-0.00,0.61,-0.79,0.00
is_promise_low_consume,2.29,-0.00,-1.05,-1.00,0.00,-0.00,0.70,-0.79,0.00
many_over_bill,-2.21,-0.00,0.12,-0.30,0.00,-0.00,-0.31,-0.79,0.00
net_service,-0.12,-0.00,-1.11,-1.20,0.00,-0.00,0.86,-0.77,0.00
1_total_fee,0.33,1.76,1.72,0.00,1.25,0.58,-1.66,0.38,-1.13
2_total_fee,0.31,1.31,1.50,0.00,1.48,0.62,-1.37,0.41,-1.21
3_total_fee,0.31,1.55,1.80,0.00,1.06,0.31,-1.69,0.38,-1.28
4_total_fee,0.31,1.29,1.44,0.00,1.31,0.49,-1.17,0.66,-1.30
age,0.24,-0.84,-0.56,0.00,-1.74,-1.52,0.70,-0.59,-2.17
contract_time,0.33,2.31,0.57,0.00,-2.76,-2.46,-1.15,-0.72,0.98
former_complaint_fee,0.30,-1.28,-1.16,0.00,-0.56,-2.46,0.92,-0.70,2.36
former_complaint_num,0.18,-1.22,-1.16,0.00,0.01,1.27,0.93,-0.77,2.51
last_month_traffic,0.30,-0.38,0.62,0.00,-1.42,1.66,-1.19,-0.24,0.74
local_caller_time,0.30,-0.87,-0.76,0.00,0.52,0.47,1.09,1.63,0.24
local_trafffic_month,0.30,-0.76,-0.36,0.00,1.16,1.19,1.42,1.83,-0.07
month_traffic,0.30,-0.71,0.57,0.00,-0.69,-0.14,-0.18,1.13,0.50
online_time,0.31,1.02,0.55,0.00,-1.36,0.97,-0.63,-0.37,-0.37
pay_num,0.30,-0.91,0.08,0.00,0.86,-1.20,0.14,-0.23,0.04
pay_times,0.16,-1.22,-1.12,0.00,0.34,-0.59,0.91,-0.79,-0.22
service1_caller_time,0.29,-1.25,-0.66,0.00,-0.22,0.85,1.33,2.24,0.53
service2_caller_time,0.31,0.21,0.68,0.00,0.76,-0.03,-0.14,2.01,-0.16

In [28]:
table_AIA = pd.DataFrame()
table_AIA['XAI'] = table1['Kendall'] + table1['Chi2'] + table1['ANOVA-F'] + table1['Mutual_info'] + table1['Causality'] 
table_AIA['TAI'] = table1['Kendall'] + table1['Chi2'] + table1['ANOVA-F'] + table1['Mutual_info'] + table1['Causality'] 
table_AIA['SAI'] = - table1['Outlier'] - table1['Distribution']
table_AIA['CAI'] = - table1['Outlier'] - table1['Distribution']
table_AIA['FAI'] = - table1['Bias'] - table1['Variance'] 
table_AIA['EAI'] = - table1['Bias'] - table1['Variance']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
table_AIA[table_AIA.columns] = scaler.fit_transform(table_AIA[table_AIA.columns])
table_AIA

,XAI,TAI,SAI,CAI,FAI,EAI
service_type,0.441750,0.441750,0.511138,0.511138,0.959337,0.959337
complaint_level,0.354614,0.354614,0.511138,0.511138,0.607440,0.607440
contract_type,0.804420,0.804420,0.511138,0.511138,0.980701,0.980701
gender,0.239513,0.239513,0.511138,0.511138,0.631641,0.631641
is_mix_service,0.000000,0.000000,0.511138,0.511138,0.684044,0.684044
is_promise_low_consume,0.565086,0.565086,0.511138,0.511138,0.661012,0.661012
many_over_bill,0.223577,0.223577,0.511138,0.511138,0.860728,0.860728
net_service,0.267723,0.267723,0.511138,0.511138,0.609981,0.609981
1_total_fee,1.000000,1.000000,0.585664,0.585664,0.883347,0.883347
2_total_fee,0.953814,0.953814,0.590290,0.590290,0.803603,0.803603
3_total_fee,0.969652,0.969652,0.640293,0.640293,0.889859,0.889859
4_total_fee,0.928235,0.928235,0.618043,0.618043,0.724838,0.724838
age,0.200897,0.200897,1.000000,1.000000,0.625837,0.625837
contract_time,0.543014,0.543014,0.704883,0.704883,1.000000,1.000000
former_complaint_fee,0.203201,0.203201,0.525675,0.525675,0.603256,0.603256
former_complaint_num,0.245359,0.245359,0.000000,0.000000,0.619092,0.619092
last_month_traffic,0.416417,0.416417,0.200393,0.200393,0.910265,0.910265
local_caller_time,0.395293,0.395293,0.418688,0.418688,0.098805,0.098805
local_trafffic_month,0.513961,0.513961,0.362338,0.362338,0.000000,0.000000
month_traffic,0.447932,0.447932,0.465859,0.465859,0.450693,0.450693
online_time,0.548094,0.548094,0.432803,0.432803,0.839945,0.839945
pay_num,0.518934,0.518934,0.665677,0.665677,0.670671,0.670671
pay_times,0.288717,0.288717,0.611512,0.611512,0.617845,0.617845
service1_caller_time,0.298333,0.298333,0.329669,0.329669,0.066140,0.066140
service2_caller_time,0.685134,0.685134,0.537554,0.537554,0.261119,0.261119

In [29]:
table2 = table2[['XAI','TAI','SAI','CAI','FAI','EAI']]
table2

                        XAI  TAI  SAI  CAI  FAI  EAI
service_type              1    1    0    0    0    0
is_mix_service            1    1    0    0    0    0
online_time               1    1    0    1    0    0
1_total_fee               1    1    0    0    0    0
2_total_fee               1    1    0    0    0    0
3_total_fee               1    1    0    0    0    0
4_total_fee               1    1    0    0    0    0
month_traffic             1    1    0    1    0    0
many_over_bill            1    1    0    0    0    0
contract_type             1    1    0    0    0    0
contract_time             1    1    0    0    0    0
is_promise_low_consume    1    1    0    1    0    0
net_service               1    1    0    0    0    0
pay_times                 1    1    0    0    0    0
pay_num                   1    1    0    1    0    0
last_month_traffic        1    1    0    0    0    0
local_trafffic_month      1    1    0    1    0    0
local_caller_time         1    1    0    0    0    0
service1_caller_time      1    1    0    0    0    0
service2_caller_time      1    1    0    0    0    0
gender                    0    0    0    1    1    1
age                       0    0    0    1    1    1
complaint_level           0    0    0    1    1    0
former_complaint_num      0    0    0    1    1    0
former_complaint_fee      0    0    0    0    1    0

In [43]:
table_final = table_AIA * table2
table_final.round(2)

                         XAI   TAI  SAI   CAI   FAI   EAI
1_total_fee             1.00  1.00  0.0  0.00  0.00  0.00
2_total_fee             0.95  0.95  0.0  0.00  0.00  0.00
3_total_fee             0.97  0.97  0.0  0.00  0.00  0.00
4_total_fee             0.93  0.93  0.0  0.00  0.00  0.00
age                     0.00  0.00  0.0  1.00  0.64  0.64
complaint_level         0.00  0.00  0.0  0.51  0.63  0.00
contract_time           0.55  0.55  0.0  0.00  0.00  0.00
contract_type           0.80  0.80  0.0  0.00  0.00  0.00
former_complaint_fee    0.00  0.00  0.0  0.00  0.62  0.00
former_complaint_num    0.00  0.00  0.0  0.00  0.63  0.00
gender                  0.00  0.00  0.0  0.51  0.65  0.65
is_mix_service          0.00  0.00  0.0  0.00  0.00  0.00
is_promise_low_consume  0.56  0.56  0.0  0.51  0.00  0.00
last_month_traffic      0.42  0.42  0.0  0.00  0.00  0.00
local_caller_time       0.40  0.40  0.0  0.00  0.00  0.00
local_trafffic_month    0.52  0.52  0.0  0.36  0.00  0.00
many_over_bill          0.23  0.23  0.0  0.00  0.00  0.00
month_traffic           0.45  0.45  0.0  0.46  0.00  0.00
net_service             0.27  0.27  0.0  0.00  0.00  0.00
online_time             0.55  0.55  0.0  0.43  0.00  0.00
pay_num                 0.52  0.52  0.0  0.66  0.00  0.00
pay_times               0.29  0.29  0.0  0.00  0.00  0.00
service1_caller_time    0.30  0.30  0.0  0.00  0.00  0.00
service2_caller_time    0.69  0.69  0.0  0.00  0.00  0.00
service_type            0.45  0.45  0.0  0.00  0.00  0.00

In [31]:
df_sum = table_final.mean().to_frame(name = 'Value')
# scaler = MinMaxScaler()
# df_sum[df_sum.columns] = scaler.fit_transform(df_sum[df_sum.columns])
df_sum

        Value
XAI  0.432404
TAI  0.432404
SAI  0.000000
CAI  0.178404
FAI  0.123491
EAI  0.050299

In [41]:
df_sum = df_sum.T
print(df_sum)
df_sum['XAI'] = df_sum['XAI']*X/100
df_sum['FAI'] = df_sum['FAI']*F/100
df_sum['SAI'] = df_sum['SAI']*S/100
df_sum['CAI'] = df_sum['CAI']*C/100
df_sum['TAI'] = df_sum['TAI']*T/100
df_sum['EAI'] = df_sum['EAI']*E/100
df_sum = df_sum.T
df_sum

           XAI      TAI  SAI       CAI       FAI       EAI
Value  0.43462  0.43462  0.0  0.176769  0.126288  0.051254

        Value
XAI  0.069539
TAI  0.069539
SAI  0.000000
CAI  0.028283
FAI  0.020206
EAI  0.008201

In [35]:
sum(df_sum.Value)

1.237987478503744

In [36]:
table1 = pd.read_csv('stats_data_currupted1000.csv',index_col=0)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
table1[table1.columns] = scaler.fit_transform(table1[table1.columns])
table1.fillna(0,inplace = True)

table_AIA = pd.DataFrame()
table_AIA['XAI'] = table1['Kendall'] + table1['Chi2'] + table1['ANOVA-F'] + table1['Mutual_info'] + table1['Causality'] 
table_AIA['TAI'] = table1['Kendall'] + table1['Chi2'] + table1['ANOVA-F'] + table1['Mutual_info'] + table1['Causality'] 
table_AIA['SAI'] = - table1['Outlier'] - table1['Distribution']
table_AIA['CAI'] = - table1['Outlier'] - table1['Distribution']
table_AIA['FAI'] = - table1['Bias'] - table1['Variance'] 
table_AIA['EAI'] = - table1['Bias'] - table1['Variance']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
table_AIA[table_AIA.columns] = scaler.fit_transform(table_AIA[table_AIA.columns])

table_final = table_AIA * table2
df_sum = table_final.mean().to_frame(name = 'Value')
# scaler = MinMaxScaler()
# df_sum[df_sum.columns] = scaler.fit_transform(df_sum[df_sum.columns])
df_sum

        Value
XAI  0.442511
TAI  0.442511
SAI  0.000000
CAI  0.167406
FAI  0.132047
EAI  0.053511

In [37]:
table1 = pd.read_csv('stats_data_currupted800.csv',index_col=0)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
table1[table1.columns] = scaler.fit_transform(table1[table1.columns])
table1.fillna(0,inplace = True)

table_AIA = pd.DataFrame()
table_AIA['XAI'] = table1['Kendall'] + table1['Chi2'] + table1['ANOVA-F'] + table1['Mutual_info'] + table1['Causality'] 
table_AIA['TAI'] = table1['Kendall'] + table1['Chi2'] + table1['ANOVA-F'] + table1['Mutual_info'] + table1['Causality'] 
table_AIA['SAI'] = - table1['Outlier'] - table1['Distribution']
table_AIA['CAI'] = - table1['Outlier'] - table1['Distribution']
table_AIA['FAI'] = - table1['Bias'] - table1['Variance'] 
table_AIA['EAI'] = - table1['Bias'] - table1['Variance']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
table_AIA[table_AIA.columns] = scaler.fit_transform(table_AIA[table_AIA.columns])

table_final = table_AIA * table2
df_sum = table_final.mean().to_frame(name = 'Value')
# scaler = MinMaxScaler()
# df_sum[df_sum.columns] = scaler.fit_transform(df_sum[df_sum.columns])
df_sum

        Value
XAI  0.441456
TAI  0.441456
SAI  0.000000
CAI  0.168181
FAI  0.122526
EAI  0.049724

In [38]:
table1 = pd.read_csv('stats_data_currupted600.csv',index_col=0)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
table1[table1.columns] = scaler.fit_transform(table1[table1.columns])
table1.fillna(0,inplace = True)

table_AIA = pd.DataFrame()
table_AIA['XAI'] = table1['Kendall'] + table1['Chi2'] + table1['ANOVA-F'] + table1['Mutual_info'] + table1['Causality'] 
table_AIA['TAI'] = table1['Kendall'] + table1['Chi2'] + table1['ANOVA-F'] + table1['Mutual_info'] + table1['Causality'] 
table_AIA['SAI'] = - table1['Outlier'] - table1['Distribution']
table_AIA['CAI'] = - table1['Outlier'] - table1['Distribution']
table_AIA['FAI'] = - table1['Bias'] - table1['Variance'] 
table_AIA['EAI'] = - table1['Bias'] - table1['Variance']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
table_AIA[table_AIA.columns] = scaler.fit_transform(table_AIA[table_AIA.columns])

table_final = table_AIA * table2
df_sum = table_final.mean().to_frame(name = 'Value')
# scaler = MinMaxScaler()
# df_sum[df_sum.columns] = scaler.fit_transform(df_sum[df_sum.columns])
df_sum

        Value
XAI  0.438393
TAI  0.438393
SAI  0.000000
CAI  0.169803
FAI  0.123873
EAI  0.050410

In [39]:
table1 = pd.read_csv('stats_data_currupted400.csv',index_col=0)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
table1[table1.columns] = scaler.fit_transform(table1[table1.columns])
table1.fillna(0,inplace = True)

table_AIA = pd.DataFrame()
table_AIA['XAI'] = table1['Kendall'] + table1['Chi2'] + table1['ANOVA-F'] + table1['Mutual_info'] + table1['Causality'] 
table_AIA['TAI'] = table1['Kendall'] + table1['Chi2'] + table1['ANOVA-F'] + table1['Mutual_info'] + table1['Causality'] 
table_AIA['SAI'] = - table1['Outlier'] - table1['Distribution']
table_AIA['CAI'] = - table1['Outlier'] - table1['Distribution']
table_AIA['FAI'] = - table1['Bias'] - table1['Variance'] 
table_AIA['EAI'] = - table1['Bias'] - table1['Variance']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
table_AIA[table_AIA.columns] = scaler.fit_transform(table_AIA[table_AIA.columns])

table_final = table_AIA * table2
df_sum = table_final.mean().to_frame(name = 'Value')
# scaler = MinMaxScaler()
# df_sum[df_sum.columns] = scaler.fit_transform(df_sum[df_sum.columns])
df_sum

        Value
XAI  0.438348
TAI  0.438348
SAI  0.000000
CAI  0.171736
FAI  0.131094
EAI  0.052644

In [40]:
table1 = pd.read_csv('stats_data_currupted200.csv',index_col=0)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
table1[table1.columns] = scaler.fit_transform(table1[table1.columns])
table1.fillna(0,inplace = True)

table_AIA = pd.DataFrame()
table_AIA['XAI'] = table1['Kendall'] + table1['Chi2'] + table1['ANOVA-F'] + table1['Mutual_info'] + table1['Causality'] 
table_AIA['TAI'] = table1['Kendall'] + table1['Chi2'] + table1['ANOVA-F'] + table1['Mutual_info'] + table1['Causality'] 
table_AIA['SAI'] = - table1['Outlier'] - table1['Distribution']
table_AIA['CAI'] = - table1['Outlier'] - table1['Distribution']
table_AIA['FAI'] = - table1['Bias'] - table1['Variance'] 
table_AIA['EAI'] = - table1['Bias'] - table1['Variance']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
table_AIA[table_AIA.columns] = scaler.fit_transform(table_AIA[table_AIA.columns])

table_final = table_AIA * table2
df_sum = table_final.mean().to_frame(name = 'Value')
# scaler = MinMaxScaler()
# df_sum[df_sum.columns] = scaler.fit_transform(df_sum[df_sum.columns])
df_sum

        Value
XAI  0.434620
TAI  0.434620
SAI  0.000000
CAI  0.176769
FAI  0.126288
EAI  0.051254